@import "tailwindcss";

@layer base{
*{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    html,
    body{
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
}

@theme inline{
    --font-pixelify:var(--font-pixelify);
    --font-giest:var(--font-geist-pixel-square);
    --font-tiny5:var(--font-Tiny5);
    --font-jersey:var(--font-jersey);
}


@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}